<div class="container">
   <h1>Contacto</h1>

    <div id="texto" #textos>
        <p appResaltado>
            Esta es la página de Contacto, puedes enviarnos cualquier duda
        </p>
    </div>

    <!--
    Tamaño del Slider:
    <input type="number" [(ngModel)]="widthSlider">
    <button (click)="cargarSlider()">Cargar Slider</button>
    <button (click)="resetearSlider()">Resetear Slider</button>

    <div *ngIf="widthToSlider">
        <slider [width]="widthToSlider"
                [etiquetas]="captions"
                (getAuthor)="obtenerAutor($event)"
        ></slider>
    </div>

    <div *ngIf="author">
        {{author.nombre + " " + author.web}}
    </div>
    -->
</div>
