<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{github}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec dictum ante. 
        In feugiat risus lobortis neque convallis consequat. Aliquam erat volutpat. 
        Vivamus dignissim eleifend mi, non dapibus diam tempor a. 
        Aliquam non leo eu dui consectetur sagittis. Donec nec dui et libero molestie laoreet et vel felis.
        Curabitur mi diam, mattis ac pulvinar sed, blandit a felis. 
        Fusce tincidunt augue vitae cursus rhoncus. Sed ut dictum lorem, ac euismod lacus. 
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
    </p>
</article>